Repository cake-contrib/Cake.Issues, pull requests merged in 2025-01, with the labels that each got.

#934 Update links in NuGet package READMEs
  nuspec/nuget/Cake.Frosting.Issues.DocFx.md
  nuspec/nuget/Cake.Frosting.Issues.EsLint.md
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.md
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.md
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.md
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.md
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.md
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.md
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.md
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.md
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.md
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.md
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.md
  nuspec/nuget/Cake.Frosting.Issues.Reporting.md
  nuspec/nuget/Cake.Frosting.Issues.Sarif.md
  nuspec/nuget/Cake.Frosting.Issues.Terraform.md
  nuspec/nuget/Cake.Issues.DocFx.md
  nuspec/nuget/Cake.Issues.EsLint.md
  nuspec/nuget/Cake.Issues.GitRepository.md
  nuspec/nuget/Cake.Issues.InspectCode.md
  nuspec/nuget/Cake.Issues.Markdownlint.md
  nuspec/nuget/Cake.Issues.MsBuild.md
  nuspec/nuget/Cake.Issues.PullRequests.AppVeyor.md
  nuspec/nuget/Cake.Issues.PullRequests.AzureDevOps.md
  nuspec/nuget/Cake.Issues.PullRequests.GitHubActions.md
  nuspec/nuget/Cake.Issues.PullRequests.md
  nuspec/nuget/Cake.Issues.Reporting.Console.md
  nuspec/nuget/Cake.Issues.Reporting.Generic.md
  nuspec/nuget/Cake.Issues.Reporting.Sarif.md
  nuspec/nuget/Cake.Issues.Reporting.md
  nuspec/nuget/Cake.Issues.Sarif.md
  nuspec/nuget/Cake.Issues.Terraform.md
  nuspec/nuget/Cake.Issues.Testing.md
  nuspec/nuget/Cake.Issues.md
Labels: Documentation

#937 Fix example for MarkdownlintIssues alias
  src/Cake.Issues.Markdownlint/MarkdownlintIssuesAliases.IssueProvider.cs
Labels: Documentation, Area:IssueProvider:Markdownlint

#869 Use Cake.Frosting.AzureDevOps for Cake.Frosting.Issues.Recipe
  docs/input/documentation/recipe/index.md
Labels: Documentation

#961 Add dependency groups to .NET Tool NuGet packages
  nuspec/nuget/Cake.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Tap.nuspec
  nuspec/nuget/Cake.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.Testing.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Labels: Improvement

#962 Fix release notes link
  nuspec/nuget/Cake.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.Testing.nuspec
Labels: Documentation, Area:IssueProvider:Terraform

#967 Add build breaking alias with settings to limit to priority and issue provider types
  src/Cake.Issues.Tests/BuildBreakerTests.cs
  src/Cake.Issues/Aliases.BuildBreaking.cs
  src/Cake.Issues/BuildBreaker.cs
  src/Cake.Issues/BuildBreakingSettings.cs
Labels: Improvement, Area:Core

#977 Ignore files from outside the repository for TAP issue provider
  src/Cake.Issues.Tap.Tests/LogFileFormat/StylelintLogFileFormatTests.cs
  src/Cake.Issues.Tap/BaseTapLogFileFormat.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintLogFileFormat.cs
Labels: Improvement, Area:IssueProvider:Tap

#984 Update GitRepositoryProvider rule URL to new website
  src/Cake.Issues.GitRepository.Tests/IssueBuilderExtensionsTests.cs
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
  src/Cake.Issues.GitRepository/IssueBuilderExtensions.cs
Labels: Bug, Area:IssueProvider:GitRepository

#985 Use HTTPS for EsLint rule links
  src/Cake.Issues.EsLint.Tests/EsLintRuleUrlResolverTests.cs
  src/Cake.Issues.EsLint.Tests/LogFileFormat/JsonLogFileFormatTests.cs
  src/Cake.Issues.EsLint/EsLintRuleUrlResolver.cs
Labels: Improvement, Area:IssueProvider:EsLint

#986 Add rule URL resolver for Stylelint
  docs/input/documentation/issue-providers/tap/features.md
  src/Cake.Issues.Tap.Tests/LogFileFormat/StylelintLogFileFormatTests.cs
  src/Cake.Issues.Tap.Tests/LogFileFormat/StylelintRuleUrlResolverTests.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintLogFileFormat.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintRuleDescription.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintRuleUrlResolver.cs
  src/Cake.Issues.Tap/TapIssuesAliases.StylelintLogFileFormat.cs
Labels: Feature, Area:IssueProvider:Tap

#987 Add rule URL resolver for Textlint
  docs/input/documentation/issue-providers/tap/features.md
  src/Cake.Issues.Tap.Tests/LogFileFormat/TextlintLogFileFormatTests.cs
  src/Cake.Issues.Tap/LogFileFormat/TextlintLogFileFormat.cs
  src/Cake.Issues.Tap/LogFileFormat/TextlintRuleUrlResolver.cs
  src/Cake.Issues.Tap/TapIssuesAliases.TextlintLogFileFormat.cs
Labels: Feature, Area:IssueProvider:Tap

#988 Add example for using custom URL resolver
  docs/input/documentation/issue-providers/msbuild/examples/index.md
  docs/input/documentation/issue-providers/msbuild/examples/read-binary-log.md
  docs/input/documentation/issue-providers/msbuild/examples/use-custom-url-resolver.md
  docs/input/documentation/issue-providers/msbuild/index.md
  docs/mkdocs.yml
Labels: Documentation, Area:IssueProvider:MsBuild

#989 Improve reasoning for run information
  docs/input/documentation/usage/reading-issues/run-information.md
Labels: Documentation

#991 Update Documentation for list of supported MsBuild rule URLs
  docs/input/documentation/issue-providers/msbuild/features.md
Labels: Documentation, Area:IssueProvider:MsBuild

#992 Link CA rules directly to rule documentation page
  src/Cake.Issues.MsBuild.Tests/LogFileFormat/BinaryLogFileFormatTests.cs
  src/Cake.Issues.MsBuild.Tests/LogFileFormat/XmlFileLoggerLogFileFormatTests.cs
  src/Cake.Issues.MsBuild.Tests/MsBuildRuleUrlResolverTests.cs
  src/Cake.Issues.MsBuild/MsBuildRuleUrlResolver.cs
Labels: Improvement, Area:IssueProvider:MsBuild

#993 Add support for .NET code style rules
  docs/input/documentation/issue-providers/msbuild/features.md
  src/Cake.Issues.MsBuild.Tests/MsBuildRuleUrlResolverTests.cs
  src/Cake.Issues.MsBuild/MsBuildRuleUrlResolver.cs
Labels: Improvement, Area:IssueProvider:MsBuild

#1016 Add diagnostic logging to console reporter
  src/Cake.Issues.Reporting.Console/ConsoleIssueReportGenerator.cs
Labels: Improvement, Area:Reporting:Console

#1020 HtmlDxDataGrid: Use 100% of page height
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-additionalcolumns.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-changetitle.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-columnhiding.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-customexportfilename.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-customscriptlocation.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-default.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disablefiltering.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disablegrouping.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disableheader.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disablesearching.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-enableexporting.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-exportformat-pdf.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-exportformat-xlsx.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-grouping.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-sorting.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-carmine.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-contrast.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-contrastcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-dark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-darkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-darkmoon.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-darkviolet.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-greenmist.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-light.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-lightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialbluedark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialbluedarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialbluelight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialbluelightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materiallimedark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materiallimedarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materiallimelight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materiallimelightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialorangedark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialorangedarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialorangelight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialorangelightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialpurpledark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialpurpledarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialpurplelight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialpurplelightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialtealdark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialtealdarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialteallight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialteallightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-softblue.html
  src/Cake.Issues.Reporting.Generic/Templates/DxDataGrid.cshtml
Labels: Improvement, Area:Reporting:Generic

#1034 Fix link target
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid.md
Labels: Documentation, Area:Reporting:Generic, preview

#1035 Fix source code links
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid.md
Labels: Documentation, Area:Reporting:Generic

#1036 HtmlDxDataGrid: Update DevExtreme default version to 23.1.13
  src/Cake.Issues.Reporting.Generic/HtmlDxDataGridOption.cs
  src/Cake.Issues.Reporting.Generic/Templates/DxDataGrid.cshtml
Labels: dependencies, Area:Reporting:Generic

#1046 HtmlDxDataGrid: Set columns to auto width
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-additionalcolumns.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-changetitle.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-columnhiding.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-custom-storage-key.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-customexportfilename.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-customscriptlocation.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-default.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disable-persistence.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disablecolumnchooser.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disablefiltering.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disablegrouping.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disableheader.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disablesearching.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-enableexporting.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-exportformat-pdf.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-exportformat-xlsx.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-grouping.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-infinitescrolling.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-sorting.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-carmine.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-contrast.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-contrastcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-dark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-darkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-darkmoon.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-darkviolet.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-greenmist.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-light.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-lightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialbluedark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialbluedarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialbluelight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialbluelightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materiallimedark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materiallimedarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materiallimelight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materiallimelightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialorangedark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialorangedarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialorangelight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialorangelightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialpurpledark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialpurpledarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialpurplelight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialpurplelightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialtealdark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialtealdarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialteallight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialteallightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-softblue.html
  src/Cake.Issues.Reporting.Generic/Templates/DxDataGrid.cshtml
Labels: Improvement, Area:Reporting:Generic

#1047 HtmlDxDataGrid: Enable word wrap
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-additionalcolumns.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-changetitle.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-columnhiding.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-custom-storage-key.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-customexportfilename.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-customscriptlocation.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-default.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disable-persistence.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disablecolumnchooser.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disablefiltering.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disablegrouping.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disableheader.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-disablesearching.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-enableexporting.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-exportformat-pdf.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-exportformat-xlsx.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-grouping.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-infinitescrolling.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-sorting.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-carmine.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-contrast.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-contrastcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-dark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-darkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-darkmoon.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-darkviolet.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-greenmist.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-light.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-lightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialbluedark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialbluedarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialbluelight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialbluelightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materiallimedark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materiallimedarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materiallimelight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materiallimelightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialorangedark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialorangedarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialorangelight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialorangelightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialpurpledark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialpurpledarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialpurplelight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialpurplelightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialtealdark.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialtealdarkcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialteallight.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-materialteallightcompact.html
  docs/input/documentation/report-formats/generic/templates/htmldxdatagrid-demo-theme-softblue.html
  src/Cake.Issues.Reporting.Generic/Templates/DxDataGrid.cshtml
Labels: Improvement, Area:Reporting:Generic
